{% if breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
                <a target="_blank"  href="{% url 'base' %}">Главная</a>
        </li>
        {% for item in breadcrumb %}
            <li class="breadcrumb-item {% if forloop.last %}active{% endif %}">
                {% if forloop.last %}
                    {{item.title}}
                {% else %}
                    <a target="_blank"  href="{{item.url}}">{{item.title}}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}