{% load static %}
<!-- Layout footer -->
<div id="contacts">
        <div id="contacts-map">
            <iframe src="https://yandex.ua/map-widget/v1/?um=constructor%3Aab0218408b18a9f2e05b9a6fe7d4b1fd2dfa141ab7afe1a1e525f38650d91842&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header">Контакты</div>
                    <div class="contact-label">Телефон для справок:</div>
                    <div class="contact-phone">8 901 123-45-67</div>
                    <div class="contact-phone-info mb-4">Отвечаем в мессенджерах WhatsApp, Telegram, Viber.</div>
                    <div class="contact-label">Адрес:</div>
                    <div class="contact-address mb-4">Москва, ул. Теплый Стан, 9</div>
                    <div class="contact-label">Социальные сети:</div>
                    <div class="contact-social mb-5">
                        <a href="javascript:void(0)">YouTube</a>
                        <a href="javascript:void(0)">Instagram</a>
                        <a href="javascript:void(0)">Яндекс Дзен</a>
                        <a href="javascript:void(0)">Вконтакте</a>
                        <a href="javascript:void(0)">Facebook</a>
                        <a href="javascript:void(0)">TikTok</a>
                    </div>
                    <div class="contact-copyright mb-3">
                        Официальный сайт Школы плавания Александра Панфилова.
                        <br>Все права защищены. При использовании материалов сайта ссылка обязательна.
                        <br>Проект компании Идее Группа. ООО "Идее Группа". ОГРН 1157746876286.
                    </div>
                    <div class="contact-copyright">
                        <a href="javascript:void(0)">Договор оферты</a><br>
                        <a href="javascript:void(0)">Условия использования персональных данных</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- / Layout footer -->