{% csrf_token %}
{{ formset.management_form }}
												{% for forms in formset %}
                                                    {% for idea in idea_list %}
                                                        {% if forloop.counter == forloop.parentloop.counter %}
                                        {{ forms.id }}
                                            <div class="col-md-6 mb-4">
                                                <div class="card hoverable h-100">
                                                    <div class="card-header d-flex justify-content-between  align-items-start">
                                                        <div>
                                                            <div class="small">
                                                                <a href="{% url 'employee_info' idea.sender.id %}" class="text-dark">{{ idea.sender.get_full_name }}</a>
                                                                <span class="text-muted">{{ idea.date_created }}</span>
                                                            </div>
                                                            <div class="btn-group">
                                                                {{ forms.status }}
                                                                <button class="btn btn-warning btn-xs btn-round" type="submit">Сохранить</button>
                                                            </div>
{#                                                            <div class="small mt-2">#}
{#                                                                <a href="#" class="text-primary">Подробнее</a>#}
{#                                                            </div>#}
                                                        </div>


                                                    </div>
                                                    <div class="card-body">
                                                        <div>Описание идеи: {{ idea.body }}</div>
                                                        {% if idea.file %}<div>Файл: <a href="{{ idea.file.url }}" class="text-primary" download="">{{ idea.file }}</a></div>
                                                            {% else %}{% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                                        {% endif %}
                                            	{% endfor %}{% endfor %}