//$mdc-theme-primary: #6202EE;
//$mdc-theme-on-primary: #FFFFFF;
$mdc-theme-secondary: #E20749;
$mdc-theme-on-secondary: #FFFFFF;
$mdc-theme-surface2: #F6F6F6;
$mdc-theme-on-surface2: #212121;
//$mdc-theme-background: #FFFFFF;
$mdc-theme-on-background: #212121;
$mdc-theme-on-background-muted: #acacac;


$ui-icon-size: 50px !default;
$ui-icon-font-size: 50px !default;
$ui-icon-size-sm: 30px !default;
$ui-icon-font-size-sm: 14px !default;
$ui-icon-border-width: 2px !default;
$ui-star-size: 1.1em !default;
$ui-stars-spacer: -0.1em !default;
$ui-star-filled-color: #E20749 !default;
$ui-star-color: #E7E7E7 !default;