{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

<div class="col-sm-6 col-lg-4">
                    <div class="card mb-4">

        <div class="w-100">
                        <a target="_blank"  href="{{post.url}}" class="card-img-top d-block ui-rect-60 ui-bg-cover" style="background-image: url('{% static 'img/blog_default.png' %}');">
                        <div class="ui-rect-content d-flex flex-column justify-content-between">
                            {% if post.subscription %}
                                    <div class="top-badges">
                                        <span class="card-badge card-badge-blue">Абонемент на месяц</span>
                                    </div>
                                {% endif %}
             {% if post.places_limited %}
                                    <div class="bottom-badges">
                                        <span class="card-badge card-badge-red">Количество мест ограничено</span>
                                    </div>
                        {% endif %}
                                </div>
                        </a>
                    </div>
{#            {% image post.image fill-283x188 class="card-img-top d-block ui-rect-60 ui-bg-cover" %}#}

        <div class="card-body">
            <a target="_blank"  href="{{post.url}}" class="card-title">{{post.title}}</a>
            <div class="small text-muted mb-3">{{post.first_published_at}}</div>
{#            {% if post.type != None %}#}
{#                {{post.type_str }}#}
{#            {% else %}#}
{#                <div class="small text-muted mb-3">{{post.first_published_at}}</div>#}
{#            {% endif %}#}


{#            <a target="_blank"  href="{{post.url}}" class="btn btn-sm btn-primary btn-round">Читать далее</a>#}
        </div>
    </div>
</div>