{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Идеи{% endblock %}
{% block page_title %}
    <h2 class="text-light font-weight-normal mt-4 mb-1">Идеи</h2>
{% endblock %}

{% block  breadcrumb%}
    {% include 'partials/breadcrumb.html' %}
{% endblock %}

 {% block content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="card my-4">
        <div class="card-body">
            <form action="{% url 'mickroservices:idea' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <h4>Предложить идею</h4>
                {% comment %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="form-label">Email</label>
                        {% render_field form.email placeholder="Email" class+="form-control" %}
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label">Телефон</label>
                        {% render_field form.phone_number placeholder="Телефон" class+="form-control" %}
                    </div>
                </div>
                {% endcomment %}
                <div class="form-group">
                    <label class="form-label">Идея</label>
                    {% render_field form.body placeholder="Идея" class+="form-control" %}
                    </div>
                    <div class="form-group">
                    <label class="form-label">Файл</label>
                    {% render_field form.file %}
                </div>
                <div class="text-right">
                    <button class="btn btn-primary btn-round">Отправить</button>
                </div>
            </form>
            {{status}}
            {{errors}}
        </div>
    </div>
{#    {% if ideas_ok %}#}
{#        <div class="my-4">#}
{#            <h4>Последние идеи</h4>#}
{#            {% for idea in ideas_ok %}#}
{#                <div class="bg-white ui-bordered mb-2">#}
{#                    <a href="#company-faq-1" class="d-flex justify-content-between text-dark py-3 px-4" data-toggle="collapse">#}
{#                        {{idea.email}}#}
{#                        <span class="collapse-icon"></span>#}
{#                    </a>#}
{#                    <div id="company-faq-1" class="collapse text-muted">#}
{#                        <div class="px-4 pb-3">{{idea.body}}</div>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    {% endif %}#}
 {% endblock %}

 {% block extrascripts %}
    <script src="{% static "js/jquery.mask.min.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#id_phone_number").mask("0 (000) 000-00-00")
        });
    </script>
 {% endblock %}