 {% extends 'user_new.html' %}
{% load static %}


{% block title %}Редактировать франчайзи{% endblock %}
{% block page_title %}
    <h2 class="text-light font-weight-normal mt-4 mb-1">Редактировать франчайзи </h2>
{% endblock %}

{% block  breadcrumb%}
    {% include 'partials/breadcrumb.html' %}
{% endblock %}
          {% block img %}
                        <div class="form-group">
                            <label class="form-label w-100">Фото</label>
                           {{ form_wagtail.avatar }}
                        </div>
                {% endblock %}
{% block create %}
{% endblock %}