{% extends "layout.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}Школа Панфилова - Личный кабинет{% endblock %}

{% block page_title %}
    <div class="section">
    <div class="container">
    <h1>Личный кабинет</h1>
{% endblock %}
{% block  breadcrumb %}
    {% include 'partials/breadcrumb.html' %}
{% endblock %}

{% block content %}

    <div class="row mb-4">
        <div class="col-md-6">
            <div class="h3 ">{{ user.get_full_name }}</div>
            <div class="small text-muted">{{ user.username }}</div>
            <div class="small text-muted">{{ user.user_profile.phone_number }}</div>
        </div>
    </div>
    <div class="h3">Оплата</div>
    <div class="row">
        {% for class in classes_list %}
            <div class="col-sm-6 col-lg-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <a target="_blank"  href="javascript:void(0)" class="card-title">{{ class.get_type_classes_display }}</a>
                        {% if class.is_paid %}
                            <div class="card-text small mt-2">Оплачено {{ class.date_paid|date:"DATE_FORMAT" }} {% if class.check_link %}<a target="_blank"  href="{{ class.check_link }}"
                                                                                     class="font-weight-bold text-primary">Скачать
                                чек</a> {% endif %}</div>
                        {% else %}
{#                            <div class="card-text small mt-2">Оплатить до {{ class.duration.upper|date:"DATE_FORMAT" }}</div>#}
                        {% endif %}
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="card-price mt-0">{{ class.cost }} ₽</div>
                            {% if class.is_paid %}
                                <div class="btn btn-success btn-round btn-sm ">Оплачено</div>
                            {% else %}
                                <div class="btn btn-primary btn-round btn-sm">Платеж в обработке</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="h3 mt-4">Расписание</div>
    <div class="row">
     {% for class in classes_list %}
         {% if class.is_attended or class.is_not_attended %}
        <div class="col-sm-6 col-lg-4">
            <div class="card mb-4">
                <div class="card-body">
                    <a target="_blank"  href="javascript:void(0)" class="card-title">{{ class.get_type_classes_display }}</a>
                    <div class="card-text small mt-2">ФОК с бассейном «Солнечный», {{ class.duration.upper|date:"DATE_FORMAT" }} {{ class.duration.lower|date:"TIME_FORMAT" }} — {{ class.duration.upper|date:"TIME_FORMAT" }}</div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="media align-items-center">
                            <img src="{% static 'img/trener.png' %}" alt="" class="ui-w-30">
                            <div class="media-body mr-2 trener-name">Александр <br>Панфилов</div>
                        </div>
                        {% if class.is_attended %}
                        <span class="card-badge bg-success text-white">Занятие посещено</span>
                        {% elif class.is_not_attended %}
                            <span class="card-badge card-badge-red">Занятие пропущено</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
         {% endif %}
        {% endfor %}

    </div>
    </div>
    </div>

    <div id="programs" class="section bg-dark-blue">
        <div class="container">
            <div class="section-header">Программы обучения</div>
            <div class="row mb-5">
                <div class="col-lg-6">
                    <p>Школа Александра Панфилова предлагает несколько программ обучения для учеников любого уровня
                        подготовки.</p>
                </div>
            </div>
            <div class="row">
                {% for program in programs %}
                    <div class="col-sm-6 col-lg-4">
                        <div class="card mb-4">
                            <div class="w-100">
                                <a target="_blank"  href="{{ program.url }}" class="card-img-top d-block ui-rect-60 ui-bg-cover"
                                   style="background-image: url('{{ program.image.file.url }}');">
                                    <div class="ui-rect-content d-flex flex-column justify-content-between">
                                        {% if program.subscription %}
                                            <div class="top-badges">
                                                <span class="card-badge card-badge-blue">Абонемент на месяц</span>
                                            </div>
                                        {% endif %}
                                        {% if program.places_limited %}
                                            <div class="bottom-badges">
                                                <span class="card-badge card-badge-red">Количество мест ограничено</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                            <div class="card-body">
                                <a target="_blank"  href="{{ program.url }}" class="card-title">{{ program.title }}</a>
                                <div class="card-text">{{ program.preview | richtext }}</div>

                                <div class="card-price">{{ program.cost }} ₽</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% block  additional_content %}
        <div id="blog" class="section bg-light-blue">
            <div class="container">
                <div class="section-header">Блог</div>
                <div class="row col-lg-6 mb-5">
                    <p>Школа Александра Панфилова - это современная школа плавания, основанная на инновационных
                        процессах обучения и авторских методиках. </p>
                </div>
                <div class="row">
                    {% for blog in blogs %}
                        <div class="col-sm-6 col-lg-4">
                            <a target="_blank"  href="{{ blog.url }}" class="card mb-4"
                               style="background-image: url('{{blog.image.file.url}}')">
                                <div class="card-body">
                                    <div class="category">История плавания</div>
                                    <div class="title">{{ blog.title }}</div>
                                    <div class="date">{{ blog.first_published_at }}N</div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}