{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load static %}
{% block layout %}
<div class="fixed-top">
        <nav class="navbar bg-navbar-theme">
            <a  href="/" class="navbar-brand">
                Панфилов
                <span class="navbar-brand-text">
                Школа плавания
                <br>Александра Панфилова</span>
            </a>
            <div class="ml-auto d-flex align-items-center">
                <a  href="{% url 'mickroservices:news' %}" class="btn btn-outline-white btn-round btn-sm d-none d-md-inline-block">Онлайн
                    запись</a>
{#                <a  href="javascript:void(0)" class="ml-4 d-none d-md-inline-block">#}
{#                    <svg width="24" height="27" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">#}
{#                        <path d="M19 12C19 10.9494 18.8189 9.90914 18.4672 8.93853C18.1154 7.96793 17.5998 7.08601 16.9497 6.34315C16.2997 5.60028 15.5281 5.011 14.6788 4.60896C13.8295 4.20693 12.9193 4 12 4C11.0807 4 10.1705 4.20693 9.32122 4.60896C8.47194 5.011 7.70026 5.60028 7.05025 6.34315C6.40024 7.08601 5.88463 7.96793 5.53284 8.93853C5.18106 9.90914 5 10.9494 5 12"#}
{#                              stroke="white"></path>#}
{#                        <path d="M15 19C15.5253 19 16.0454 18.8965 16.5307 18.6955C17.016 18.4945 17.457 18.1999 17.8284 17.8284C18.1999 17.457 18.4945 17.016 18.6955 16.5307C18.8965 16.0454 19 15.5253 19 15"#}
{#                              stroke="white"></path>#}
{#                        <rect x="15.5" y="18.5" width="2" height="3" rx="1" transform="rotate(90 15.5 18.5)"#}
{#                              stroke="white"></rect>#}
{#                        <rect x="3.5" y="11.5" width="3" height="4" rx="1.5" stroke="white"></rect>#}
{#                        <rect x="17.5" y="11.5" width="3" height="4" rx="1.5" stroke="white"></rect>#}
{#                    </svg>#}
{#                </a>#}
                <a  href="{% url 'lk' %}" class="ml-2">
                    <svg width="24" height="27" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="path-1-inside-1" fill="white">
                            <path d="M20 19C20 17.9494 19.7931 16.9091 19.391 15.9385C18.989 14.9679 18.3997 14.086 17.6569 13.3431C16.914 12.6003 16.0321 12.011 15.0615 11.609C14.0909 11.2069 13.0506 11 12 11C10.9494 11 9.90914 11.2069 8.93853 11.609C7.96793 12.011 7.08601 12.6003 6.34315 13.3431C5.60028 14.086 5.011 14.9679 4.60896 15.9385C4.20693 16.9091 4 17.9494 4 19L12 19H20Z"></path>
                        </mask>
                        <path d="M20 19C20 17.9494 19.7931 16.9091 19.391 15.9385C18.989 14.9679 18.3997 14.086 17.6569 13.3431C16.914 12.6003 16.0321 12.011 15.0615 11.609C14.0909 11.2069 13.0506 11 12 11C10.9494 11 9.90914 11.2069 8.93853 11.609C7.96793 12.011 7.08601 12.6003 6.34315 13.3431C5.60028 14.086 5.011 14.9679 4.60896 15.9385C4.20693 16.9091 4 17.9494 4 19L12 19H20Z"
                              stroke="white" stroke-width="2" mask="url(#path-1-inside-1)"></path>
                        <circle cx="12" cy="8" r="3.5" stroke="white"></circle>
                    </svg>
                </a>
                <a  href="javascript:void(0)" class="ml-3 navbar-toggler" data-toggle="collapse"
                   data-target="#main_menu">
                    <i class="ion ion-md-menu"></i>
                </a>
            </div>
        </nav>
    <nav class="navbar bg-navbar-secondary collapse" id="main_menu">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link active" href="{% slugurl 'trainer' %}">тренер</a>
                <a class="nav-item nav-link"  href="{% slugurl 'школа' %}">Школа</a>
                <a class="nav-item nav-link"  href="{% url 'mickroservices:news' %}">Программы</a>
{#                <a class="nav-item nav-link"  href="javascript:void(0)">персональные Тренировки </a>#}
                <a class="nav-item nav-link"  href="{% slugurl 'лицам-с-овз' %}">лицаМ с овз </a>
                <a class="nav-item nav-link"  href="{% url 'mickroservices:blogs' %}">Блог</a>
                <a class="nav-item nav-link"  href="{% slugurl 'contacts' %}">Контакты</a>
            </div>
        </nav>
    </div>
<!-- Layout wrapper -->
{#<div class="layout-wrapper layout-1 layout-without-sidenav">#}
{#    <!-- Layout inner -->#}
{#    <div class="layout-inner">#}
{##}
{#            {% include 'partials/navbar.html'%}#}
{#        <div class="layout-container">#}
{#            <div class="layout-content">#}

                {%block slider %}{% endblock %}

                    <!-- Page content -->
                    <!-- Page content -->
                        {% block page_title %}{% endblock %}
                        {% block  breadcrumb%}{% endblock %}
                        {% block  content %}
                            {% block  additional_content %}
    <div id="blog" class="section bg-light-blue">
        <div class="container">
            <div class="section-header">Блог</div>
            <div class="row col-lg-6 mb-5">
                <p>Школа Александра Панфилова - это современная школа плавания, основанная на инновационных процессах обучения и авторских методиках. </p>
            </div>
            <div class="row">
                {% for blog in blogs %}
                <div class="col-sm-6 col-lg-4">
                    <a  href="{{blog.url}}" class="card mb-4" style="background-image: url('{{blog.image.file.url}}')">
                        <div class="card-body">
                            <div class="category">История плавания</div>
                            <div class="title">{{blog.title}}</div>
                            <div class="date">{{blog.first_published_at}}N</div>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}{% endblock %}
                    <!-- / Page content -->



                    {% include 'partials/footer.html'%}



{% endblock %}