{% extends 'layout.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static "libs/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.css" %}">
    <link rel="stylesheet" href="{% static "libs/select2/select2.css" %}">
{% endblock %}

{% block title %}Добавить отзыв{% endblock %}
{% block page_title %}
    <h2 class="text-light font-weight-normal mt-4 mb-1">Добавить отзыв</h2>
{% endblock %}

{% block  breadcrumb%}
    {% include 'partials/breadcrumb.html' %}
{% endblock %}
    {% block content %}


                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="form-label">Текст отзыва</label>
                          {{ form.description }}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Источник отзыва</label>
                          {{ form.source }}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Дата отзыва</label>
                        {{ form.date_pub }}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Магазин</label>
                           {{ form.shop }}
                        </div>
{#                        <div class="form-group">#}
{#                            <label class="form-label">Статус</label>#}
{#                            <select class="select2 form-control">#}
{#                                <option value="1">Новый</option>#}
{#                                <option value="2">В работе</option>#}
{#                                <option value="3">Готов</option>#}
{#                                <option value="4">Не готов</option>#}
{#                            </select>#}
{#                        </div>#}

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-round">Сохранить</button>
                        </div>

                    </form>

{% endblock %}
{% block extrascripts %}
    <script src="{% static "libs/moment/moment.js" %}"></script>
    <script src="{% static "libs/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.js" %}"></script>
    <script src="{% static "libs/select2/select2.js" %}"></script>
     <script src="{% static "js/form.js" %}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
          $('input[wtype="date"]').bootstrapMaterialDatePicker({
              weekStart: 0,
              time: false,
              shortTime: false,
              format : 'DD.MM.YYYY',
              nowButton : true,
              lang: 'ru',
              {#minDate : new Date(),#}
          });           
      });      
    </script>
{% endblock %}