
@media only screen and (max-width: 1600px){

	.item_tab{
		padding-right: 10%;
	}

}




@media only screen and (max-width: 1366px){

	.search_catalog{
		margin-right: 7%;
	}

	.search_catalog2{
		margin-right: 7%;
	}

	.item_tab{
		padding-right: 0;
	}
}






@media only screen and (max-width: 1240px){
	
	.content_wrap{
		padding: 20px;
	}
}



@media only screen and (max-width: 1024px){

	.item_tab .choise_dostavka form#dostavka .wrap_order2 .wrap_form h5 span,
	.item_tab .choise_dostavka form#dostavka .wrap_order2 .wrap_form h5{
		font-size: 27px;
	}

	.your_order .wrap_order form#order h5{
		font-size: 27px;
	}

	.search_catalog{
		margin-right: 9%;
	}

	.search_catalog2{
		margin-right: 9%;
	}

	.choise_wrap a .card{
		margin-right: 15px;
	}

	.search_catalog3{
		margin-right: 11%;
	}

	.your_order .wrap_order form#order .one::before{
		right: -25px;
	}

	.your_order .wrap_order form#order .two::before{
		right: -29px;
	}

	.item_tab .choise_dostavka form#dostavka .wrap_order2 .wrap_form .two::before,
	.item_tab .choise_dostavka form#dostavka .wrap_order2 .wrap_form .one::before{
		right: -32px;
	}
}







@media only screen and (max-width: 992px){

	.search_catalog3{
		margin-right: 6%;
	}

	.search_catalog{
		margin-right: 5%;
	}

	.search_catalog2{
		margin-right: 5%;
	}
	
	.wrap_card_company{
		 flex-direction: column-reverse;
		 align-items: flex-start;
		 max-width: 100%;
		 margin-top: 50px;
	}

	.wrap_card_company .card{
		width: 300px;
		height: 215px;
		flex-basis:  auto;
	}

	.your_order .wrap_order form#order .one::before{
		right: -23px;	
	}

	.your_order .wrap_order form#order .two::before{
		right: -25px;
	}

}






@media only screen and (max-width: 800px){

	.item_tab .choise_dostavka form#dostavka .wrap_order2 .wrap_form,
	.your_order .wrap_order form#order{
		flex-direction:  column;
	}

	.item_tab .choise_dostavka form#dostavka .wrap_order2 .wrap_form .tri,
	.item_tab .choise_dostavka form#dostavka .wrap_order2 .wrap_form .two,
	.item_tab .choise_dostavka form#dostavka .wrap_order2 .wrap_form .one{
		margin-bottom: 20px;
	}

	.item_tab .choise_dostavka form#dostavka .wrap_order2 .wrap_form .two::before{
		top: 51px;
		right: 30px;
	}

	.item_tab .choise_dostavka form#dostavka .wrap_order2 .wrap_form .one::before{
		top: 49px;
		right: 46px;
	}


	.your_order .wrap_order form#order .tri,
	.your_order .wrap_order form#order .two,
	.your_order .wrap_order form#order .one{
		margin-bottom: 20px;
	}

	
	.your_order .wrap_order form#order .two::before{
		top: 64px;
		right: 53px;
	}

	.your_order .wrap_order form#order .one::before{
		top: 64px;
		right: 46px;
	}

	.search_catalog3{
		margin-right: 17%;
	}

	.content_wrap{
		padding: 20px 15px 30px 30px;
	}

	.content_wrap .wrap_card .card{
		width: 236px;
		margin-right: 9px;
	}

	.search_catalog {
   		 margin-right: 8%;
	}

	.search_catalog2 {
   		 margin-right: 8%;
	}

	.offers_company .offers_company_cards a .card{
		width: 213px;
		margin-right: 6px;
		margin-bottom: 5px;
	}

	.offers_company .offers_company_cards .card .text_block .info .price h6{
		font-size: 12px;
	}


	.zavershennie_projects .gallery_block a.more_photos{
		padding: 14px;
	}

}









@media only screen and (max-width: 768px){

	.search_catalog {
   		 margin-right: 3%;
	}

	.search_catalog2 {
   		 margin-right: 3%;
	}

	.choise_wrap a .card{
		margin-right: 30px;
	}

	.search_catalog3{
		margin-right: 13%;
	}

	.item_tab .wrap_p p{
		width: 100%;
	}

}









@media only screen and (max-width: 600px){

	.content_wrap{
		padding: 15px;
	}

	.search_catalog3{
		margin-right: 19%;
	}

	.content_wrap .wrap_card .card{
		width: 100%;
	}

	.offers_company .offers_company_cards a .card{
		width: 271px;
	}

	.offers_company .offers_company_cards .card .text_block .info .price h6{
		font-size: 15px;
	}

	.zavershennie_projects .gallery_block a img{
		width: 600px;
		max-width: 100%;
		height: auto;
	}

	.zavershennie_projects .gallery_block a img.hide_pic{
		display: none;
	}

	.zavershennie_projects .gallery_block a.more_photos{
		display: none;
	}

	.choise_wrap a .card{
		margin-right: 0;
		/* width: 600px; */
		max-width: 100%;
	}
}








@media only screen and (max-width: 480px){

	.wrap_two_buttons{
		display: block;
	}

	.choise_none{
		display: none;
	}

	.search_catalog3{
		display: none;
	}

	.wrap_for_mobile_block2{
		display: block;
	}

	.wrap_ispolniteli_for_mobile{
		display: block;
	}

	.content_wrap .wrap_load_more{
		display: none;
	}

	.search_catalog{
		text-align: left;
		margin-top: 20px;
		margin-bottom: 50px;
		margin-right: 0;

	}

	.search_catalog form{
		width: 100%;
	}

	.search_catalog .form_select{
		width: 109%;
	}


	.search_catalog2{
		display: none;
		text-align: left;
		margin-top: 20px;
		margin-bottom: 50px;
		margin-right: 0;

	}

	.search_catalog2 form{
		width: 100%;
	}

	.search_catalog2 .form_select{
		width: 109%;
	}

	.select-wrapper{
		width: 100%;
	}

	.content_wrap .wrap_card .card{
		display: none;
	}

	.content_wrap{
		padding: 30px 16px 30px 16px;
		overflow: none; 
	}
	
	.nav_block{
		display: none;
	}



	.wrap_mobile_block{
		display: block;
	}

	.wrap_card_company .card{
		display: none;
	}

	.wrap_card_company .wrap_card_for_mobile{
		display: block;
	}

	.offers_company .offers_company_cards a .card{
		display: none;
	}

	.offers_company a.for_mobile{
		display: block;
	}

	.offers_company .wrap_more{
		display: block;
	}

	.wrap_card_company{
		flex-direction:  column;
	}

	.wrap_card_company .about_company{
		margin-right: 0;
	}

	.zavershennie_projects .projects h4{
		font-size: 16px;
	}

	.zavershennie_projects .projects .text p{
		font-size: 11px;
	}

	.wrap_card_company .card_price{
		margin-top: 25px;
		width: 100%;
	}

	.wrap_card_company{
		margin-top: 2px;
	}

	.wrap_card_company .detail_company h6{
		font-size: 16px;
		margin-bottom: 8px;
	}

	.wrap_card_company .detail_company p{
		font-size: 11px;
		line-height: 17px;
	}
}



	



	@media only screen and (max-width: 425px){

		.wrap_two_buttons .wrap_buttons a.inv,
		.wrap_two_buttons .wrap_buttons a.norm{
			width: 48%;
		}

		.item_tab{
			padding: 1px;
		}

		.your_order .wrap_order form#order h5{
			font-size: 24px;
		}

		.item_tab .choise_dostavka form#dostavka .wrap_order2 .wrap_form h5 span, .item_tab .choise_dostavka form#dostavka .wrap_order2 .wrap_form h5{
			font-size: 24px;
		}

		.your_order .wrap_order form#order .two::before,
		.your_order .wrap_order form#order .one::before{
			top: 55px;
		}
		
	}






	@media only screen and (max-width: 414px){

	}





	@media only screen and (max-width: 375px){

	}




	@media only screen and (max-width: 360px){

	}




	@media only screen and (max-width: 320px){

	}


}





















