{% extends 'layout.html' %}

{% load wagtailcore_tags %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Школа Панфилова - {{ page.title }}{% endblock %}


{% block page_title %}
    <div class="section">
    <div class="container">
    <h1>{{ page.title }}</h1>
{% endblock %}

{% block  breadcrumb %}
    {% include 'partials/breadcrumb.html' %}
{% endblock %}

{% block content %}
    {% if page.type != None %}
        {{ page.type_str }}
    {% endif %}
    <div class="article-content">
        <p>{{ page.body | richtext }} </p>
    </div>
    </div>
    </div>
{% endblock %}

