{% extends 'layout.html' %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Школа Панфилова - Программа {{ page.title }}{% endblock %}


{% block page_title %}
    <div class="program-hero ui-bg-overlay-container" style="background-image: url('{{ page.image.file.url }}')">
        <div class="bg-dark ui-bg-overlay opacity-50"></div>
        <div class="container">
            <h1>{{ page.title }}
        {% if user.user_profile.is_manager %}
            <a target="_blank"  href="{% url 'mickroservices:news_edit' page.id %}" class="btn btn-round btn-outline-primary btn-sm">Редактировать
                новость</a>
            <a target="_blank"  href="/cms/pages/{{ page.id }}/delete/" target="_blank" class="btn btn-round btn-outline-primary btn-sm">Удалить
                новость</a>
        {% endif %}
    </h1>{% endblock %}

{% block  breadcrumb %}
    {% include 'partials/breadcrumb.html' %}
{% endblock %}

{% block content %}
    <div class="price">{{page.cost }} ₽</div>
            <div class="program-info">{{page.preview | richtext}}</div>
            <div class="mt-3">
            {% if page.subscription %}
                <span class="card-badge card-badge-blue mb-2">Абонемент на месяц</span>
                {% endif %}
            {% if page.places_limited %}
                <span class="card-badge card-badge-red mb-2">Количество мест ограничено</span>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="article-content">
            <p>{{ page.body | richtext }}</p>
    </div>
    </div>
    </div>
    <div id="programs" class="section bg-dark-blue">
        <div class="container">
            <div class="section-header">Программы обучения</div>
            <div class="row mb-5">
                <div class="col-lg-6">
                    <p>Школа Александра Панфилова предлагает несколько программ обучения для учеников любого уровня подготовки.</p>
                </div>
            </div>
            <div class="row">
                {% for program in programs %}
                <div class="col-sm-6 col-lg-4">
                    <div class="card mb-4">
                        <div class="w-100">
                            <a target="_blank"  href="{{program.url}}" class="card-img-top d-block ui-rect-60 ui-bg-cover" style="background-image: url('{{program.image.file.url}}');">
                                <div class="ui-rect-content d-flex flex-column justify-content-between">
                                    {% if program.subscription %}
                                    <div class="top-badges">
                                        <span class="card-badge card-badge-blue">Абонемент на месяц</span>
                                    </div>
                                    {% endif %}
                         {% if program.places_limited %}
                                    <div class="bottom-badges">
                                        <span class="card-badge card-badge-red">Количество мест ограничено</span>
                                    </div>
                                 {% endif %}
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <a target="_blank"  href="{{program.url}}" class="card-title">{{program.title}}</a>
                            <div class="card-text">{{program.preview | richtext}}</div>

                            <div class="card-price">{{program.cost}} ₽</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="book" class="section">
        <div class="container">
            <div class="section-header">Онлайн запись</div>
            <div class="row">
                <div class="col-lg-6">
                    <p>Для записи на тренировку необходимо выбрать тип занятия, месяц и доступную дату и время занятия в
                        форме, размещенной ниже.</p>
                </div>
            </div>
            <form method="post">
                <label class="form-label">Тип занятия:</label>
                <div class="mt-2 mb-4 radio-button-wrapper">
                    <input type="radio" class="hidden" id="type_1" name="type">
                    <label for="type_1" class="radio-button mr-2 mb-2">{{ page.get_type_classes_display }}</label>
{#                    <input type="radio" class="hidden" id="type_2" name="type">#}
{#                    <label for="type_2" class="radio-button">Индивидуальная тренировка 1+1</label>#}
                </div>
                <div id="calendar">
                    <div class="month-grid">
                        <div class="d-flex justify-content-between flex-wrap">
                            <label class="form-label">Дата занятия:</label>
                            <div id="month">
                                <div class="month active">{{ today|date:"F Y" }}</div>
{#                                <div class="month ml-2">Март 2020</div>#}
                            </div>
                        </div>
                        <hr>
                        <div class="days-grid">
                            <div class="days-row">
                                <div class="day-name">Пн</div>
                                <div class="day-name">Вт</div>
                                <div class="day-name">Ср</div>
                                <div class="day-name">Чт</div>
                                <div class="day-name">Пт</div>
                                <div class="day-name">Сб</div>
                                <div class="day-name">Вс</div>
                            </div>
                            {% for week in calendar %}
                                <div class="days-row">
                                    {% for date in week %}
                                            <div class="day-col">
                                               <a class="day {% if today.month != date.1 %}disabled{% elif date.2 < today.day %}disabled{% elif date.2 == today.day %}active{% endif %}" {% if today.month != date.1 %}{% elif date.2 < today.day %}{% else %}href="{% url 'load_filtered_events' %}?filter_date={{ date.2 }}&filter_month={{ date.1 }}&filter_year={{ date.0 }}"
                                           onclick="load_events($(this))"{% endif %}>
                                                <input type="hidden" name="date" value="{{ date.2 }}.{% if date.1 < 10 %}0{{ date.1 }}{% else %}{{ date.1 }}{% endif %}.{{ date.0 }}" />

                                                    <div class="day-content">
{#                                                                                                            <div class="day-status">Недоступно</div>#}
                                                        <div class="day-date">{{ date.2 }}
                                                            {% if today.month != date.1 %}<span
                                                                    class="day-month">.{% if date.1 < 10 %}
                                                                0{{ date.1 }}{% else %}
                                                                {{ date.1 }}{% endif %}</span>{% else %}{% endif %}
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>


                                    {% endfor %}
                                </div>
                            {% endfor %}

                        </div>
                        <hr>
                    </div>
                    <div class="time-grid">
                        <label class="form-label">Время занятия:</label>
                        <hr>
                        <div id="events_date" class="time-wrapper">

                            {% include 'partials/events.html' %}
                            {% for message in form.errors.values %}
                                    {{ message }}
                                  {% endfor %}

                            {#                            <div class="time">7:00 — 7:45</div>#}
                            {#                            <div class="time disabled">Занято</div>#}
                            {#                            <div class="time active">8:30 — 9:15#}
                            {#                                <div class="cancel">#}
                            {#                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"#}
                            {#                                         xmlns="http://www.w3.org/2000/svg">#}
                            {#                                        <path fill-rule="evenodd" clip-rule="evenodd"#}
                            {#                                              d="M12 10.87L10.87 12L8 9.13L5.13 12L4 10.87L6.87 8L4 5.13L5.13 4L8 6.87L10.87 4L12 5.13L9.13 8L12 10.87ZM8 0C3.58 0 0 3.58 0 8C0 12.42 3.58 16 8 16C12.42 16 16 12.42 16 8C16 3.58 12.42 0 8 0Z"#}
                            {#                                              fill="white" fill-opacity="0.8"></path>#}
                            {#                                    </svg>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                            <div class="time">9:15 — 10:00</div>#}
                            {#                            <div class="time">10:00 — 10:45</div>#}
                            {#                            <div class="time">10:45 — 11:30</div>#}
                            {#                            <div class="time">11:30 — 12:15</div>#}
                            {#                            <div class="time">12:15 — 13:00</div>#}
                        </div>
                    </div>
                </div>
                <div class="book-result">
                    <button onclick="del_hd($(this))" class="btn btn-primary btn-round" type="submit">записаться на тренировку</button>
                    <div class="result-text">Стоимость: <span id="price">{{page.cost }}&nbsp;₽</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% block  additional_content %}
    <div id="blog" class="section bg-light-blue">
        <div class="container">
            <div class="section-header">Блог</div>
            <div class="row col-lg-6 mb-5">
                <p>Школа Александра Панфилова - это современная школа плавания, основанная на инновационных процессах обучения и авторских методиках. </p>
            </div>
            <div class="row">
                {% for blog in blogs %}
                <div class="col-sm-6 col-lg-4">
                    <a target="_blank"  href="{{blog.url}}" class="card mb-4" style="background-image: url('{{blog.image.file.url}}')">
                        <div class="card-body">
                            <div class="category">История плавания</div>
                            <div class="title">{{blog.title}}</div>
                            <div class="date">{{blog.first_published_at}}</div>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href='{% static "libs/quill/typography.css" %}'>
{% endblock %}